<hr class="field_line" />
<div class='fields'>
	<%= field_form.label :title, "Title: " %>
  <%= field_form.text_field :title, :class => "title" %>
	<%= field_form.label :value, "Value: " %>
  <%= field_form.text_field :value, :class => "value" %>

	<%= link_to_remove_fields "Remove", field_form %>
</div>
